.players-container
    padding-top: 70px
    padding-bottom: 50px
    margin: 0 18px

.next-btn
    border-radius: 0
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    bottom: 10px
    right: 0

    width: 100%

    button
        width: 90%
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.add-btn
    margin-left: 10px

.navbar
    position: fixed
    width: 100%
    top: 0
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

@import ./_player
@import ./_end

@media only screen and ( min-width: 1000px )
    .players-container
        display: flex
        justify-content: space-evenly
        flex-wrap: wrap
        padding-left: 20%
        padding-right: 20%
        height: 100vh

    .player
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        width: 300px
        height: 150px

        .info
            width: 90%
            display: flex
            justify-content: space-between
